@using HealthCare.Areas.Identity.Data;
@using Microsoft.AspNetCore.Identity;

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@model IEnumerable<HealthCare.Models.Appointment>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

@if (SignInManager.IsSignedIn(User) && User.IsInRole("Patient"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clinic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Doctor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Doctor.SpecialityName)
            </th>
            @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
            {
                <th>
                    @Html.DisplayNameFor(model => model!.User)
                </th>
            }
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item!.Clinic!.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item!.Doctor!.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item!.Doctor!.Speciality.Name)
                </td>
                @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                {
                    <td>
                        @Html.DisplayFor(modelItem => item!.User!.FullName)
                    </td>
                }
                <td>
                    @if (User.IsInRole("Patient"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit | </a>
                        <a asp-action="Details" asp-route-id="@item.Id">Details | </a>
                    }

                    <a asp-action="Delete" asp-route-id="@item.Id">Cancel</a>
                </td>
            </tr>
        }
    </tbody>
    @if (TempData["Error"] != null)
    {
        <script>alert('@TempData["Error"]');</script>
    }
</table>
